

{% block title %}
    Login
{% endblock %}

{% block content %}
    <style>
        .btn-mint {
            background-color: #b2f3e8; /* Kolor mięty - dostosuj wartość według preferencji */
            color: fuchsia; /* Kolor tekstu na guziku - dostosuj wartość według preferencji */
        }


        h1 {
            color: fuchsia; /* Kolor fuksji - dostosuj wartość według preferencji */
        }
    </style>

    <button type="submit" class="btn btn-mint">Login</button>

{% endblock %}

{% block aside %}
{% endblock %}