{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
    .profile-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.pet-profile {
  color: #006466;
  margin-bottom: 20px;
}
h1 {
    color: fuchsia;
}
h2 {
    color: fuchsia;
}
.btn-mint {
            background-color: #b2f3e8;
            color: fuchsia;
        }
.user-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.nearby-profiles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nearby-profile {
    margin: 10px;
    text-align: center;
}

.nearby-profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.accepted-profile-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

    </style>
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">Moje zwierzątko</h1>

    <div class="pet-profile text-center">
    <img src="{{ selected_profile.profile_foto.url }}" alt="{{ selected_profile.pets_name }}" class="profile-image">
    <h2>{{ selected_profile.pets_name }}</h2>
    <h3>Informacje</h3>
        <p>Rodzaj: {{ selected_profile.type_of_pet }}</p>
        <p>Rasa: {{ selected_profile.breed }}</p>
        <p>Płeć: {{ selected_profile.sex }}</p>
        <p>Wiek: {{ selected_profile.age }}</p>
        <p>Opis: {{ selected_profile.description }}</p>
        <p>Aktywność: {{ selected_profile.get_activity_display }}</p>
        <p>Miasto: {{ selected_profile.city }}</p>


      <a href="{% url 'pets_profile:edit_profile' pk=selected_profile.id %}" class="btn btn-primary">Edytuj</a>
        <a href="{% url 'pets_profile:delete-profile' pk=selected_profile.id %}" class="btn btn-danger">Usuń</a>

      <h3>Zdjęcia:</h3>
          <a href="{% url 'pets_profile:add-images' %}" class="btn btn-mint">Dodaj zdjęcie</a>


        {% for image in user_images %}
          <img src="{{ image.photo.url }}" alt="{{ selected_profile.pets_name }}" class="user-image">
        {% empty %}
          <p>Brak zdjęć.</p>
        {% endfor %}

      </div>
  </div>

    <div class="col-md-4">
            <h3 class="text-center">Profile w pobliżu</h3>
            <div class="nearby-profiles">
                {% for profile in nearby_profiles %}
                     {% if profile not in accepted_profiles %}
                    <div class="nearby-profile">
                        <img src="{{ profile.profile_foto.url }}" alt="{{ profile.pets_name }}" class="nearby-profile-image">
                        <h4>{{ profile.pets_name }}</h4>
                        <p>Aktywność: {{ profile.get_activity_display }}</p>
                    <a href="{% url 'pets_profile:accept-profile' pk=profile.id %}" class="btn btn-success">Zaakceptuj</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
<h3 class="text-center">Zaakceptowane profile</h3>
    <div class="accepted-profiles">
        {% for profile in accepted_profiles %}
            <div class="accepted-profile">
                <img src="{{ profile.profile_foto.url }}" alt="{{ profile.pets_name }}" class="accepted-profile-image">
                <h4>{{ profile.pets_name }}</h4>
                <p>Aktywność: {{ profile.get_activity_display }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
