{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Dodaj zdjęcie
{% endblock %}
{% block content %}
    <style>
        .btn-mint {
            background-color: #b2f3e8;
            color: fuchsia;
        }


        h1 {
            color: fuchsia;
        }
    </style>

    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

    <h1>Dodaj zdjęcie</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-mint">Dodaj zdjęcie</button>
    </form>
    </div>

{% endblock %}

{% block aside %}
{% endblock %}